* {
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #0f1421;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;

  #graph {
    width: 100vw;
    height: 100vh;
  }

  #summary {
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
    background: #0007;
    color: #fff;
    z-index: 2;
    padding: 20px;

    h1 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 18px;
    }

    p {
      padding: 0;
      margin: 16px 0 0;
      line-height: 18px;
      font-size: 14px;

      &.vulnerabilities {
        color: #ff4422;
        a {
          color: #ff4422;
        }
      }

      &.no-vulnerabilities {
        color: #44ff00;
      }

      &.meta {
        color: #fff7;
      }
    }
  }
}
