* {
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #0f1421;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;

  .body-container {
    padding: 48px;
    max-width: 1000px;
    margin: auto;
    text-align: left;

    h1 {
      color: #fff;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
    }

    section {
      display: none;
      background: #222e4d;
      margin: 32px;
      padding: 32px;
      box-shadow: 0 0 2px #0007;
      height: 100px;

      &.active {
        display: block;
      }

      p, label {
        color: #fff;
      }

      &.repo-input-container {
        input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          margin-top: 12px;
          padding: 12px;
          border: none;
          border-bottom: 2px solid #0f1421;
          color: #fff;
          font-size: 18px;
          background: none;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          transition: border-bottom 200ms;

          &:focus {
            border-bottom: 2px solid #384c80;
          }
        }
      }

      &.repo-scan-container {
        .progressbar {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          background: #0f1421;
          margin-bottom: 20px;

          .progress {
            display: block;
            height: 8px;
            background: #ffffff;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
